/* ! Helpers  */
.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: 10px
}

.mt-2 {
    margin-top: 20px
}

.mt-3 {
    margin-top: 40px
}

.mt-4 {
    margin-top: 100px
}

.mb-0 {
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: 10px
}

.mb-2 {
    margin-bottom: 20px
}

.mb-3 {
    margin-bottom: 40px
}

.mb-4 {
    margin-bottom: 100px
}

.p-0 {
    padding: 0
}

.p-1 {
    padding: 10px
}

.p-2 {
    padding: 20px
}

.p-3 {
    padding: 40px
}

.p-4 {
    padding: 100px
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.img-res {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    vertical-align: middle;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.container {
    max-width: 1140px;
    margin: auto;
    width: calc(100% - 48px);
}

.section-titolo {
    color: var(--nero);
    /* text-transform: uppercase; */
    letter-spacing: 8px;
    border-bottom: 2px solid var(--nero);
    text-shadow: 3px 3px 8px #555;
}

/* root */
:root {
    --bianco: #FFFFFF;
    --primary: #9FE9AA;
    --accent: #74D440;
    --secondary: #0D3A2A;
    --background: #212121;

}

/* !section-1 home*/
.header {
    width: 100%;
    height: 100dvh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.wrap-grid {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.testo, .testo h1 {
    font-weight: normal;
    font-size: 32px;
}

.tecnologie-span-home {
    color: var(--primary);
}

.img-persona {
    /* width: 355px;
    height: 355px; */
    height: 355px;
    width: auto;
    background-size: cover;

    /* border-radius: 70px; */
    border-radius: 9999px;
}


/* !fine section-1 */



/* !section-2 */
:root {
    --tw-bg-opacity: 1;
    --bordi-curvi: 12px;
    --padding: 25px;
}

.section-2-progetti {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: 1fr ; */
    gap: 80px;
}


.progetto {
    background-color: var(--bianco);
    color: var(--secondary);
    /* padding-left: var(--padding);
    padding-right: var(--padding); */
    border-radius: var(--bordi-curvi);
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
    width: 100%;
    height: 100%;
    margin: var(--padding) 0;
}

.img-progetto {
    width: 100%;
    border-radius: var(--bordi-curvi);

}

.testo-progetto {
    height: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.titolo-progetto {
    font-family: 'Barlow condensed', sans-serif;
    font-weight: bold;
    font-size: 45px;
}

.sottotitolo-progetto {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
}

.link-dettagli-progetti {
    font-family: ' Montserrat', sans-serif;
    font-size: 18px;
    padding: 5px;
    border-radius: var(--padding);
    transition: background linear .5s;
}

.link-dettagli-progetti:hover {
    background: var(--accent);
}



/* !fine section-2 */

/* !section-3 */
.section-3 {
    width: 100%;
    height: 100dvh;


}



/* !fine section-3 */

/* !section-4 */
.section-4 {
    width: 100%;
    height: 80%;
    background-color: #555;
    padding: 50px 0;
}

.titolo-section-4 {
    color: white;
    box-shadow: none;
    border-color: white;

}

.form {
    width: 25%;
}

.form>input,
.form>textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 18px;
    border: none;
    color: black;
}

.form>textarea {
    max-width: 100%;
    height: 70px;
    max-height: 140px;

}

.btn {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: black !important;
    background: var(--primary);
    border-radius: 70px;
    padding: 10px 20px;
    transition: all 1s;
}

.btn:hover {
    background: var(--accent);
}

/* !fine section-4 */
/* ! section-5 footer */
.section-5 {
    width: 100%;
    height: 30dvh;
    background-color: #222;
}

.social-media {
    margin-bottom: 30px;
}

.social-media-link {
    margin: 0 5px;
}

/* .social-media-link i {
    font-size: 50px;
    transition: all linear .250s;
} */


.copyright {
    color: white;
    letter-spacing: 3px;
    text-align: center;
}

/* !fine section-5 */






/* !responsive  */
@media screen and (max-width: 320px) {

    /* .testo>h1 {
        font-size: 44px;
        line-height: normal;
    }

    .testo>p {
        font-size: 18px;
    } */

    .home-span {
        font-size: 13px;
    }

    .home-btn {
        padding: 1rem 1.5rem;
    }

    .header {
        height: 100%;
        /* margin-top: 80px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrap-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .img {
        justify-content: center;
    }

    .img-persona {
        width: 230px;
        height: 230px;
        border-radius: 100%;
        margin-bottom: 100px;
    }

    /* fine home */

    .section-2-progetti {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr ; */
        gap: 40px;
    }

    .titolo-progetto {
        font-size: 24px;
    }

    .sottotitolo-progetto {
        font-size: 15px;
        line-height: 1.3;
    }

    .link-progetto {
        font-size: 18px;
        padding: 10px 15px;
    }

    /* !section-4 */

    .titolo-section-4 {
        font-size: 36px;
    }

    .form {
        width: 80%;
    }

    /* !fine section-4 */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    /* .testo>h1 {
        font-size: 44px;
        line-height: normal;
    }

    .testo>p {
        font-size: 18px;
    } */

    .home-span {
        font-size: 13px;
    }

    .home-btn {
        padding: 1.2rem 1.5rem;
    }

    .header {
        height: 100%;
        margin-top: 80px;
    }

    .wrap-grid {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .img {
        justify-content: center;
    }

    .img-persona {
        width: 230px;
        height: 230px;
        border-radius: 100%;
        margin-bottom: 100px;
    }

    /* fine home */

    .section-2-progetti {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr ; */
        gap: 40px;
    }

    .titolo-progetto {
        font-size: 24px;
    }

    .sottotitolo-progetto {
        font-size: 15px;
        line-height: 1.3;
    }



    /* !section-4 */

    .titolo-section-4 {
        font-size: 36px;
    }

    .form {
        width: 70%;
    }

    /* !fine section-4 */

}

@media screen and (min-width: 481px) and (max-width: 600px) {
    /* .testo>h1 {
        font-size: 44px;
        line-height: normal;
    }

    .testo>p {
        font-size: 18px;
    } */

    .home-span {
        font-size: 14px;
    }

    .header {
        height: 100%;
    }

    .wrap-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .img {
        justify-content: center;
    }

    .img-persona {
        width: 355px;
        height: 355px;
        border-radius: 100%;
        margin-bottom: 100px;
    }

    /* fine home */

    .section-2-progetti {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr ; */
        gap: 40px;
    }

    .titolo-progetto {
        font-size: 28px;
    }

    .sottotitolo-progetto {
        font-size: 18px;
    }

    .link-progetto {
        font-size: 18px;
        padding: 10px 15px;
    }

    /* !section-4 */
    .form {
        width: 60%;
    }

    /* !fine section-4 */
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .menu {
        display: none;
    }

    /* .testo>h1 {
        font-size: 38px;
        line-height: normal;
    }

    .testo>p {
        font-size: 18px;
    } */

    .home-span {
        font-size: 14px;
    }

    .home-btn {
        padding: 1rem 1.5rem;
    }

    .img-persona {
        width: 250px;
        height: 250px;
        border-radius: 100%;

    }

    /* fine home */




    /* !section-4 */

    .form {
        width: 40%;
    }

    /* !fine section-4 */
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    /* .testo>h1 {
        font-size: 40px;
        line-height: normal;
    }

    .testo>p {
        font-size: 20px;
    } */

    .home-span {
        font-size: 16px;
    }

    .img-persona {
        width: 280px;
        height: 280px;
        border-radius: 100%;

    }

    /* fine home */



}


@media screen and (min-width: 1024px) {
    .section-2-progetti {
        grid-template-columns: repeat(2, 1fr);
    }



}

/* !fine responsive */