
/* ! Title System */
h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}

h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

h4, p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* ! Helpers  */
.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: 10px
}

.mt-2 {
    margin-top: 20px
}

.mt-3 {
    margin-top: 40px
}

.mt-4 {
    margin-top: 100px
}

.mb-0 {
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: 10px
}

.mb-2 {
    margin-bottom: 20px
}

.mb-3 {
    margin-bottom: 40px
}

.mb-4 {
    margin-bottom: 100px
}

.p-0 {
    padding: 0
}

.p-1 {
    padding: 10px
}

.p-2 {
    padding: 20px
}

.p-3 {
    padding: 40px
}

.p-4 {
    padding: 100px
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.img-res {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    vertical-align: middle;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.container {
    max-width: 1140px;
    margin: auto;
    width: calc(100% - 48px);
}

.section-titolo {
    color: var(--nero);
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 2px solid var(--nero);
    text-shadow: 3px 3px 8px #555;
}

/* root */
:root {
    --arancio: #D95204;
    --rosso: #F20505;
    --rosso-scuro: #8C0303;
    --nero: #0D0D0D;
}

/* !section-1 home*/    
.header {
    width: 100%;
    height: 100svh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.wrap-grid{
    display: grid;
    /* gap: 20%; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    
 }
 .img{

 }
.img-persona{
    /* width: 355px;
    height: 355px; */
    height: 355px;width: auto;
    background-size:cover;

    /* border-radius: 70px; */
    border-radius: 9999px;
}


/* !fine section-1 */



/* !section-2 */
.section-2 {
    width: 100%;
    height: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.section-2-progetti{
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr ; */
    gap: 50px;
}

.stile-progetti {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.progetto {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    width: 500px; height: 700px;
    background-size: cover;
    
    background-color: #222;
}
.progetto img{
    background-size: cover;
}
.progetto:hover{
    transform: scale(1.1);
}

.testo-progetto {
    text-align: center;
    letter-spacing: 5px;
    position: absolute;
    top: -100%;
    transition: top 0.3s;
    z-index: 10;
}

.progetto:hover .testo-progetto {
    top: 30px;
    transition: top 0.2s 0.2s;
}

.titolo-progetto {
    font-size: 44px;
    font-weight: 900;
    color: var(--nero);
    text-transform: capitalize;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.sottotitolo-progetto {
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 2px black;

}

.img-progetto {
    width: auto;
    background-size: cover;
    transition: opacity 0.2s;
    transition: blur 0.2s;
    
}

.progetto:hover .img-progetto {
    opacity: 0.8;
    filter: blur(0.2rem);
}

.link-progetto {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
    border:solid 1px #222;
    background: var(--rosso-scuro);
    border-radius: 70px;
    padding: 14px 28px;
    position: absolute;
    bottom: -100%;
    transition: all 0.2s;

}

.progetto:hover .link-progetto {
    bottom: 60px;
    transition: bottom 0.2s 0.2s;
}

.link-progetto:hover {
    background: var(--rosso);
    transform: scale(1.2);
    transition: all .52s cubic-bezier(.215, .61, .355, 1);
}

/* !fine section-2 */

/* !section-3 */
.section-3 {
    width: 100%;
    height: 100vh;


}



/* !fine section-3 */

/* !section-4 */
.section-4 {
    width: 100%;
    height: 80%;
    background-color: #555;
}

.titolo-section-4 {
    color: white;
    box-shadow: none;
    border-color: white;

}

.form {
    width: 25%;
}

.form > input,
.form > textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 18px;
    border: none;
    color: black;
}

.form > textarea {
    max-width: 100%;
    height: 70px;
    max-height: 140px;

}
.btn{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white !important; 
    text-shadow: 1px 1px 2px black;
    background: var(--rosso-scuro);
    border-radius: 70px;
    padding: 10px 20px;
    transition: all 1s;
}
.btn:hover{
    background: var(--rosso);
}

/* !fine section-4 */
/* ! section-5 footer */
.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222;
}

.social-media {
    margin-bottom: 30px;
}

.social-media-link {
    margin: 0 5px;
}

.social-media-link i {
    font-size: 50px;
    transition: all .250s;
}

.copyright {
    color: white;
    letter-spacing: 3px;
    text-align: center;
}

/* !fine section-5 */






/* !responsive  */
@media screen and (max-width: 320px) {

    .testo > h1{
        font-size: 44px;
        line-height: normal;
    }
    .testo > p{
        font-size: 18px;
    }
    .home-span{
        font-size: 13px;
    }
    .home-btn{
        padding: 1rem 1.5rem;
    }
    .header {
        height: 100%;
        /* margin-top: 80px; */
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .wrap-grid{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        
     }
    .img{
        justify-content: center;
    }
    .img-persona{
        width: 230px;
        height: 230px;
        border-radius: 100%;
        margin-bottom: 100px;
    }
    /* fine home */

    .section-2-progetti{
        display: grid;    
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr ; */
        gap: 40px;
    }
    .titolo-progetto {
        font-size: 25px;
    }
    
    .sottotitolo-progetto {
        font-size: 18px;
    }
    .link-progetto {
        font-size: 18px;
        padding: 10px 15px;
    }
/* !section-4 */

.titolo-section-4 {
    font-size: 36px;
}

.form {
    width: 80%;
}

/* !fine section-4 */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .testo > h1{
        font-size: 44px;
        line-height: normal;
    }
    .testo > p{
        font-size: 18px;
    }
    .home-span{
        font-size: 13px;
    }
    .home-btn{
        padding: 1.2rem 1.5rem;
    }
    .header {
        height: 100%;
        margin-top: 80px;
    }
    .wrap-grid{
            
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        gap: 20px;
     }
    .img{
        justify-content: center;
    }
    .img-persona{
        width: 230px;
        height: 230px;
        border-radius: 100%;
        margin-bottom: 100px;
    }
        /* fine home */

        .section-2-progetti{
            display: grid;    
            grid-template-columns: repeat(1, 1fr);
            /* grid-template-rows: 1fr ; */
            gap: 40px;
        }
        .titolo-progetto {
            font-size: 28px;
        }
        
        .sottotitolo-progetto {
            font-size: 18px;
        }
        .link-progetto {
            font-size: 18px;
            padding: 10px 15px;
        }
/* !section-4 */

.titolo-section-4 {
    font-size: 36px;
}

.form {
    width: 70%;
}
/* !fine section-4 */
    
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    .testo > h1{
        font-size: 44px;
        line-height: normal;
    }
    .testo > p{
        font-size: 18px;
    }
    .home-span{
        font-size: 14px;
    }
    .header {
        height: 100%;
    }
    .wrap-grid{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        
     }
    .img{
        justify-content: center;
    }
    .img-persona{
        width: 355px;
        height: 355px;
        border-radius: 100%;
        margin-bottom: 100px;
    }
    /* fine home */

    .section-2-progetti{
        display: grid;    
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr ; */
        gap: 40px;
    }
    .titolo-progetto {
        font-size: 28px;
    }
    
    .sottotitolo-progetto {
        font-size: 18px;
    }
    .link-progetto {
        font-size: 18px;
        padding: 10px 15px;
    }
    /* !section-4 */
.form {
    width: 60%;
}
/* !fine section-4 */
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .menu{display: none;}
    .testo > h1{
        font-size: 38px;
        line-height: normal;
    }
    .testo > p{
        font-size: 18px;
    }
    .home-span{
        font-size: 14px;
    }
    .home-btn{
        padding: 1rem 1.5rem;
    }
    .img-persona{
        width: 250px;
        height: 250px;
        border-radius: 100%;
    
    }
        /* fine home */


        .titolo-progetto {
            font-size: 18px;
        }
        
        .sottotitolo-progetto {
            font-size: 12px;
        }
        .link-progetto {
            font-size: 12px;
            padding: 10px 15px;
        }
/* !section-4 */

.form {
    width: 40%;
}
/* !fine section-4 */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .testo > h1{
        font-size: 40px;
        line-height: normal;
    }
    .testo > p{
        font-size: 20px;
    }
    .home-span{
        font-size: 16px;
    }
    .img-persona{
        width: 280px;
        height: 280px;
        border-radius: 100%;
    
    }
     /* fine home */


     .titolo-progetto {
        font-size: 18px;
    }
    
    .sottotitolo-progetto {
        font-size: 12px;
    }
    .link-progetto {
        font-size: 12px;
        padding: 10px 15px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}

/* !fine responsive */