@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Future';
  src: local('Future'), url('assets/fonts/OtherFutureDemoRegular-Yz6Kq.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo span {
  font-family: 'Future', 'Montserrat', sans-serif;
}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(140, 3, 3,0.7); */
  background: #202020;
}

/* ! Reset */
body, html {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  scroll-padding: 80px;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}


.contain {
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
}

/* scrollBar stile. solo per chrome */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-track-piece {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}